<h1>Treatment History</h1>
<!-- <div *ngFor="let treatment of treatmentHistory$ | async">
  <mat-grid-list cols="2" rowHeight="3em">
    <mat-grid-tile>Name:</mat-grid-tile>
    <mat-grid-tile>{{treatment.date}}</mat-grid-tile>
  </mat-grid-list>
</div> -->

<mat-table [dataSource]="treatmentHistory$ | async" class="patient-table" style="width:100%">

  <!-- Name Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef style="width:250px"> Date </th>
    <td mat-cell *matCellDef="let treatment"> {{treatment.date.toDate() |  date: 'EEEE, MMMM d, y'}} </td>
  </ng-container>
  <ng-container matColumnDef="doctor">
    <th mat-header-cell *matHeaderCellDef style="width:250px"> Doctor </th>
    <td mat-cell *matCellDef="let treatment"> {{treatment.treatingDoctor}} </td>
  </ng-container>

  <ng-container matColumnDef="reasonOfVisit">
    <th mat-header-cell *matHeaderCellDef style="width:250px"> Reason of Visit </th>
    <td mat-cell *matCellDef="let treatment"> {{treatment.reasonOfVisit}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>

</mat-table>