<qr-scanner [debug]="false" [canvasWidth]="1080" [canvasHeight]="720" [stopAfterScan]="true" [updateTime]="500" [canvasHidden]="true">
</qr-scanner>

<!-- <app-qr-scanner></app-qr-scanner> -->

<!-- <button mat-raised-button (click)="this.qrScannerComponent.stopScanning()">Pause Scan</button> -->
<!-- <button mat-raised-button (click)="this.qrScannerComponent.startScanning()">Initiate Scan</button> -->

<!-- <div>
  {{result}}
</div> -->

<!-- canvas width (default: 640) -->
<!-- canvas height                                (default: 480) -->
<!-- should the scanner stop after first success? (default: true) -->
<!-- miliseconds between new capture              (default: 500) -->