<mat-card>
  <mat-grid-list cols="2" rowHeight="3em">
    <mat-grid-tile>Name:</mat-grid-tile>
    <mat-grid-tile>{{patient.name}} {{patient.familyName}}</mat-grid-tile>
    <mat-grid-tile>Gender:</mat-grid-tile>
    <mat-grid-tile>{{patient.Gender}}</mat-grid-tile>
    <mat-grid-tile>Age:</mat-grid-tile>
    <mat-grid-tile>{{patient.age}}</mat-grid-tile>
    <mat-grid-tile>Blood-type:</mat-grid-tile>
    <mat-grid-tile>{{patient.bloodGroup}}</mat-grid-tile>
    <mat-grid-tile>Origin:</mat-grid-tile>
    <mat-grid-tile>{{patient.origin}}</mat-grid-tile>
  </mat-grid-list>
</mat-card>

<!-- <form class="example-form">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>
  
</form> -->