<div *ngIf="patient$; let patient">
  <h1>
    Patient File: {{patient.name}} {{patient.familyName}}
  </h1>
  <mat-grid-list cols="2" rowHeight="3em">
    <mat-grid-tile>Name:</mat-grid-tile>
    <mat-grid-tile>{{patient.name}} {{patient.familyName}}</mat-grid-tile>
    <mat-grid-tile>Gender:</mat-grid-tile>
    <mat-grid-tile>{{patient.gender}}</mat-grid-tile>
    <mat-grid-tile>Age:</mat-grid-tile>
    <mat-grid-tile>{{patient.age}}</mat-grid-tile>
    <mat-grid-tile>Blood-type:</mat-grid-tile>
    <mat-grid-tile>{{patient.bloodGroup}}</mat-grid-tile>
    <mat-grid-tile>Origin:</mat-grid-tile>
    <mat-grid-tile>{{patient.origin}}</mat-grid-tile>
  </mat-grid-list>

  <!-- <button mat-raised-button (click)="delete(patient)">Delete</button> -->

</div>




<!-- // familyName: 'Wilde',
// origin: 'Lucis',
// organisation: 'Sevcol',
// ship: 'Celestra',
// gender: 'Male',
// patientID: '6cd985f2-7178-422b-a7c4-d8cc4fb34ab3',
// specialAttention: 'false',
// NPC: 'false', -->