<div *ngIf="!formGroup && !!selectedRecord" class="full-height">
  <mat-card class="fake_card full-width-margin mobile-content">
    <mat-card-title>{{ selectedRecord.reasonOfVisit }}</mat-card-title>
    <mat-card-subtitle>
      <mat-grid-list [cols]="this.colsNumber" rowHeight="3em">
        <mat-grid-tile>Date: {{ selectedRecord.date?.toDate() | date:'yyyy/MM/dd hh:mm:ss'}}</mat-grid-tile>
        <mat-grid-tile>Treating Doctor: {{selectedRecord.treatingDoctor}}</mat-grid-tile>
        <mat-grid-tile>Assisting Doctor: {{selectedRecord.treatingDoctor}}</mat-grid-tile>
      </mat-grid-list>
    </mat-card-subtitle>

    <mat-card-content>

      <mat-grid-list [cols]="this.colsNumber" rowHeight="3em">

        <mat-grid-tile rowspan='3' [colspan]="this.colsNumber">Description: {{selectedRecord.description}}</mat-grid-tile>
        <mat-grid-tile rowspan='3' [colspan]="this.colsNumber">Treatment Action: {{selectedRecord.treatmentAction}}</mat-grid-tile>
        <mat-grid-tile>Location of Treatment: {{selectedRecord.locationOfTreatment}}</mat-grid-tile>
        <mat-grid-tile>Used Medication: {{selectedRecord.usedMedication}}</mat-grid-tile>
        <mat-grid-tile>Prescribed: {{selectedRecord.prescribedMedication}}</mat-grid-tile>
        <mat-grid-tile rowspan='3' [colspan]="this.colsNumber">Notes: {{selectedRecord.treatmentActionNotes}}</mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <div class="mobile-footer">
    <button mat-raised-button (click)="createFormgroup(this.selectedRecord)">Update Entry</button>
  </div>
</div>



<div *ngIf="!!formGroup" class="full-width-margin full-height">
  <form [formGroup]="formGroup" class="mobile-content">

    <mat-grid-list [cols]="this.colsNumber" rowHeight="3em">
      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput placeholder="Reason of Visit" formControlName='reasonOfVisit' matAutosizeMinRows="4">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName='date'>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="this.colsNumber" rowspan="3">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description" formControlName='description' matTextareaAutosize matAutosizeMinRows="4"></textarea>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width-button">
          <mat-label>Treating Doctor</mat-label>
          <mat-select formControlName="treatingDoctor">
            <mat-option *ngFor="let doctor of doctorList" [value]="doctor.value">
              {{doctor.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button matTooltip="Add Doctor">
          <mat-icon>add</mat-icon>
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width-button">
          <mat-label>Assisting Doctor</mat-label>
          <mat-select formControlName="assistingDoctor">
            <mat-option *ngFor="let doctor of doctorList" [value]="doctor.value">
              {{doctor.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button matTooltip="Add Doctor">
          <mat-icon>add</mat-icon>
        </button>
      </mat-grid-tile >

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Used Medicine</mat-label>
          <mat-select formControlName="usedMedication">
            <mat-option *ngFor="let medicine of medicineList" [value]="medicine.value">
              {{medicine.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Prescribed Medicine</mat-label>
          <mat-select formControlName="prescribedMedication">
            <mat-option *ngFor="let medicine of medicineList" [value]="medicine.value">
              {{medicine.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput placeholder="Location Of Treatment" formControlName='locationOfTreatment'>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="this.colsNumber" rowspan="3">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Treatment Action" formControlName='treatmentAction' matTextareaAutosize matAutosizeMinRows="4"></textarea>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="this.colsNumber" rowspan="3">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Notes" formControlName='treatmentActionNotes' matTextareaAutosize matAutosizeMinRows="4"></textarea>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>

  <div class="mobile-footer">
    <button mat-raised-button (click)="save()">Save Entry</button>
    <button mat-raised-button (click)="cancel()" class="margin-left">Cancel Entry</button>
  </div>
</div>