<div *ngIf="!!selectedRecord" class="full-width">
  <mat-card-title *ngIf="determineCols() === '2'">{{ selectedRecord.reasonOfVisit }}</mat-card-title>
  <mat-card-subtitle>
    <mat-grid-list cols="3" rowHeight="3em">
      <mat-grid-tile>Date: {{ selectedRecord.date?.toDate() | date:'yyyy/MM/dd hh:mm:ss'}}</mat-grid-tile>
      <mat-grid-tile>Treating Doctor: {{selectedRecord.treatingDoctor}}</mat-grid-tile>
      <mat-grid-tile>Assisting Doctor: {{selectedRecord.treatingDoctor}}</mat-grid-tile>
    </mat-grid-list>
  </mat-card-subtitle>

  <mat-card-content>

    <mat-grid-list cols="2" rowHeight="3em">

      <mat-grid-tile colspan="2">Description: {{selectedRecord.description}}</mat-grid-tile>
      <mat-grid-tile>Treatment Action: {{selectedRecord.treatmentAction}}</mat-grid-tile>
      <mat-grid-tile>Location of Treatment: {{selectedRecord.locationOfTreatment}}</mat-grid-tile>
      <mat-grid-tile>Used Medication: {{selectedRecord.usedMedication}}</mat-grid-tile>
      <mat-grid-tile>Prescribed: {{selectedRecord.prescribedMedication}}</mat-grid-tile>
      <mat-grid-tile colspan="2">Notes: {{selectedRecord.treatmentActionNotes}}</mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="createFormgroup(this.selectedRecord)">Update Entry</button>
    <button mat-raised-button (click)="closePanel()" *ngIf="determineCols() === '1'" class="margin-left">Close</button>
  </mat-card-actions>
</div>



<div *ngIf="!!formGroup" class="full-width">

  <form [formGroup]="formGroup">

    <mat-grid-list cols="2" rowHeight="3em">

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput placeholder="Reason of Visit" formControlName='reasonOfVisit'>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName='date'>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile colspan="2" rowspan="2">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description" formControlName='description'></textarea>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Treating Doctor</mat-label>
          <mat-select formControlName="treatingDoctor">
            <mat-option *ngFor="let doctor of doctorList" [value]="doctor.value">
              {{doctor.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button matTooltip="Add Doctor">
          <mat-icon>add</mat-icon>
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Assisting Doctor</mat-label>
          <mat-select formControlName="assistingDoctor">
            <mat-option *ngFor="let doctor of doctorList" [value]="doctor.value">
              {{doctor.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button matTooltip="Add Doctor">
          <mat-icon>add</mat-icon>
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Used Medicine</mat-label>
          <mat-select formControlName="usedMedication">
            <mat-option *ngFor="let medicine of medicineList" [value]="medicine.value">
              {{medicine.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Prescribed Medicine</mat-label>
          <mat-select formControlName="prescribedMedication">
            <mat-option *ngFor="let medicine of medicineList" [value]="medicine.value">
              {{medicine.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput placeholder="Location Of Treatment" formControlName='locationOfTreatment'>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput placeholder="Treatment Action" formControlName='treatmentAction'>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Notes" formControlName='treatmentActionNotes'></textarea>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>

  <mat-card-actions>
    <button mat-raised-button (click)="save()">Save Entry</button>
    <button mat-raised-button (click)="cancel()" class="margin-left">Cancel Entry</button>
  </mat-card-actions>
</div>