@import "~@angular/cdk/overlay-prebuilt.css";

// dashboard
.dashboard-container {
  margin: 15px;
  height: calc(100% - 30px);
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .dashboard-container {
    margin: 0px;
    height: calc(100%);
    box-sizing: border-box;
  }
}

.dashboard-button {
  width: 40rem;
  height: 90%;
}

.dashboard-prime-button {
  width: 25rem;
  height: 90%;
}

.dashboard-second-button {
  margin-left: 1rem !important;
  width: 14rem;
  height: 90%;
}

.viewScreen {
  margin-left: 50px;
  margin-right: 50px;
}

.margin-left {
  margin-left: 10px !important;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.mat-cell,
.mat-header-cell {
  vertical-align: middle !important;
}

.full-width {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.full-height {
  height: 100%;
}

.float-right {
  float: right;
}

@media (max-width: 600px) {
  canvas {
    width: 320px !important;
    height: 480px !important;
  }
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 36px !important;
}