<mat-grid-list [cols]="determineScreen()" gutterSize="5px" *ngIf="determineScreen() === '2'">
  <mat-grid-tile>
    <mat-card class="dashboard-container full-width">
      <mat-card-title>Database Entries
        <button mat-raised-button (click)="createNewEntry()" class="float-right">Add Entry
        </button>
      </mat-card-title>

      <app-table-overview [dataSource]="databaseEntries" [columns]="columns" (rowSelect)="rowSelect($event)">
      </app-table-overview>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-container full-width">
      <app-database-view [selectedEntry]="selectedEntry"></app-database-view>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>



<div class="container" *ngIf="screenSize==='mobile'">

  <div class="container__camera" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
    <mat-tab-group [selectedIndex]="selectedIndex" class="tab-noheader">

      <mat-tab>
        <app-table-overview [dataSource]="databaseEntries" [columns]="columns" (rowSelect)="rowSelect($event)">
        </app-table-overview>
      </mat-tab>

      <mat-tab>
        <app-database-view [selectedEntry]="selectedEntry" (close)="closePanel($event)"></app-database-view>
      </mat-tab>
    </mat-tab-group>
  </div>