<mat-grid-list cols="2" rowHeight="fit" class="dashboard-container">

  <mat-grid-tile colspan="2">
    <mat-card class="full-width">
      <mat-card-title>
        Airlock status
      </mat-card-title>

      <mat-card-content>
        Current Status

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button>Close Airlock</button>
        <button mat-raised-button>Request dock status</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-container full-width">
      <mat-card-title>
        Active Crew list
      </mat-card-title>

      <mat-card-content>

        <table mat-table [dataSource]="characterList" class="full-width">

          <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let person; index as i;"> {{ i + 1 }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let person"> {{person.image}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let person"> {{person.name}} </td>
          </ng-container>

          <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
        </table>

        <!-- <app-table-overview [dataSource]="patientList" [columns]="patientListColumns" (rowSelect)="rowSelect($event)">
        </app-table-overview> -->
        <!-- <div>
          <div style="display: inline-block; width: 30%;">
            image
          </div>
          <div style="display: inline-block; width: 60%">
            Name Last Name
          </div>
          <div style="display: inline-block; width: 10%">
            <mat-slide-toggle></mat-slide-toggle>
          </div>
        </div> -->
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button>Set Active Crew</button>
        <button mat-raised-button disabled="true">Register Crewmember</button>
        <button mat-raised-button (click)="verifyList()">Verify Lists</button>
      </mat-card-actions>

    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile>
    <mat-card class="dashboard-container full-width">
      <mat-card-title>
        Passenger list
      </mat-card-title>

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button>Register Passenger</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>