*Note that this will function as a station, not accesible from the webapp directly.
<mat-card class="full-width">
  <mat-card-title>
    Airlock status
  </mat-card-title>

  <mat-card-content>
    <div>Current Status: Airlock {{airlockOpen ? 'Open' : 'Closed'}} </div>
    <div>Docked with: Customs 3</div>
    <div>Docked vessel Status: Normal</div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="airlockOpen = !airlockOpen"> {{airlockOpen ? 'Close': 'Open'}} Airlock</button>
    <button mat-raised-button (click)="openSnackBar('Ask SL for status','not implemented')">Request dock status</button>
    <button mat-raised-button (click)="manualOveride = !manualOveride">Manual override</button>

    <span *ngIf="manualOveride">
      <button mat-raised-button (click)="innerAirlock = !innerAirlock">{{innerAirlock ? 'Close': 'Open'}} inner Airlock
        door</button>
      <button mat-raised-button (click)="outerAirlock = !outerAirlock">{{outerAirlock ? 'Close': 'Open'}} outer Airlock
        door</button>
      <button mat-raised-button (click)="openSnackBar('gameplay element','not implemented')">Physical override</button>
    </span>
  </mat-card-actions>
</mat-card>

<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card class="dashboard-container full-width">
      <mat-card-title>
        Active Crew list
      </mat-card-title>

      <mat-card-content>

        <table mat-table [dataSource]="characterList" class="full-width">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let person; index as i;"> {{ i + 1 }} </td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let person"> {{person.image}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let person"> {{person.familyName}}, {{person.name}}</td>
          </ng-container>

          <ng-container matColumnDef="aboardCelestra">
            <th mat-header-cell *matHeaderCellDef>Disembarked</th>
            <td mat-cell *matCellDef="let person">
              <mat-slide-toggle [checked]="!person.aboardCelestra"></mat-slide-toggle>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"
            [ngClass]="{'offShip': !row.aboardCelestra}"></tr>
        </table>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button (click)="openDialog()">Set Active
          Crew</button>
        <button mat-raised-button
          (click)="openSnackBar('Register crewmember, linking to other models','not implemented')">Register
          Crewmember</button>
        <!-- <button mat-raised-button (click)="verifyList()">Verify Lists</button> -->
      </mat-card-actions>

    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile>
    <mat-card class="dashboard-container full-width">
      <mat-card-title>
        Passenger list
      </mat-card-title>

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button (click)="openSnackBar('Find known passenger','not implemented')">Find
          Passenger</button>
        <button mat-raised-button
          (click)="openSnackBar('Register Passenger, linking to other models','not implemented')">Register
          Passenger</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div class="hideElement">
  <input #scanInput (keyup.enter)="update(scanInput.value)">
</div>