<div class="airlock-container-top">

  <mat-card class="full-width">
    <mat-card-title>
      Airlock status
    </mat-card-title>

    <mat-card-content class="status">
      <div class="text">
        <p>Current Status:</p>
        <mat-divider></mat-divider>
        <p>Docked with:</p>
        <mat-divider></mat-divider>
        <p>Docked vessel Status:</p>
      </div>
      <div class="state">
        <p>Airlock {{airlockOpen ? 'Open' : 'Closed'}} </p>
        <mat-divider></mat-divider>
        <p>Customs 3</p>
        <mat-divider></mat-divider>
        <p>Normal</p>
      </div>
    </mat-card-content>
  </mat-card>


  <div class="full-width" style="display: flex;">
    <div class="action">
      <button class="airlock-button" mat-raised-button (click)="openSnackBar('Ask SL for status','not implemented')"
        disabled="true">
        Request dock status</button>
      <button class="airlock-button" mat-raised-button (click)="toggleAirlock()">
        {{airlockOpen ? 'Close': 'Open'}} Airlock</button>
      <button class="airlock-button" mat-raised-button (click)="manualOveride = !manualOveride">Manual override</button>
    </div>

    <div class="action" [ngClass]="{'hideElement': !manualOveride}">
      <button class="airlock-button" mat-raised-button (click)="innerAirlock = !innerAirlock" disabled="true">
        {{innerAirlock ? 'Close': 'Open'}} inner Airlockdoor</button>
      <button class="airlock-button" mat-raised-button (click)="outerAirlock = !outerAirlock" disabled="true">
        {{outerAirlock ? 'Close': 'Open'}} outer Airlockdoor</button>
      <button class="airlock-button" mat-raised-button (click)="airlockPressurized = !airlockPressurized"
        disabled="true">
        {{airlockPressurized ? 'Depressurize' : 'Pressurize'}} Airlock door</button>
      <button class="airlock-button" mat-raised-button (click)="openSnackBar('gameplay element','not implemented')"
        disabled="true">
        Physical override</button>
    </div>

  </div>

  <div class="full-width">

  </div>
  <!-- <mat-card >

  </mat-card> -->
</div>

<div class="airlock-container">
  <mat-card class="airlock-element full-width full-height">
    <mat-card-title>
      Active Crew list
    </mat-card-title>

    <mat-card-content>
      <cdk-virtual-scroll-viewport itemSize="50" class="container-content">

        <table mat-table [dataSource]="activeCrewList" class="full-width">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let person; index as i;"> {{ i + 1 }} </td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let person"> {{person.image}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let person"> {{person.familyName}}, {{person.name}}</td>
          </ng-container>

          <ng-container matColumnDef="disembarked">
            <th mat-header-cell *matHeaderCellDef>Disembarked</th>
            <td mat-cell *matCellDef="let person">
              <mat-slide-toggle [checked]="person.disembarked" disabled="true" class="fakeActive"></mat-slide-toggle>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"
            [ngClass]="{'offShip': row.disembarked}"></tr>
        </table>
      </cdk-virtual-scroll-viewport>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="openDialog()">Set Active
        Crew</button>
      <button mat-raised-button (click)="openRegisterDialog('crew')">
        Register Crewmember</button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="airlock-element full-width">
    <mat-card-title>
      Passenger list
    </mat-card-title>

    <mat-card-content>
      <cdk-virtual-scroll-viewport itemSize="50" class="container-content">
        <table mat-table [dataSource]="activePassengerList" class="full-width">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let person; index as i;"> {{ i + 1 }} </td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let person"> {{person.image}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let person"> {{person.familyName}}, {{person.name}}</td>
          </ng-container>

          <ng-container matColumnDef="disembarked">
            <th mat-header-cell *matHeaderCellDef>Disembarked</th>
            <td mat-cell *matCellDef="let person">
              <mat-slide-toggle [checked]="person.disembarked" disabled="true" class="fakeActive"></mat-slide-toggle>
              <button mat-mini-fab (click)="unlistPassenger($event, person)"
                style="margin-left: 20px; transform: scale(0.7);" matTooltip="Unlist passenger">
                <mat-icon>label_off</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedPassengerColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"
            [ngClass]="{'offShip': row.disembarked}"></tr>
        </table>
      </cdk-virtual-scroll-viewport>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="findPassenger()">Find
        Passenger</button>
      <button mat-raised-button (click)="openRegisterDialog('passenger')">Register
        Passenger</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="hideElement">
  <input #scanInput (keyup.enter)="update(scanInput.value)">
</div>