.offShip {
  // background-color: aqua;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(1, 91, 130, 0) 40%, rgba(0, 212, 255, 1) 100%);
}

.hideElement {
  height: 0px;
  overflow: hidden;
}
