<form [formGroup]="formGroup">
  <mat-grid-list cols="2" rowHeight="75px">

    <mat-grid-tile>
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName='name'>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width">
        <input matInput placeholder="Family Name" formControlName='familyName'>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="Male">Male</mat-button-toggle>
        <mat-button-toggle value="Female">Female</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Planet of Origin</mat-label>
        <mat-select formControlName="origin">
          <mat-option *ngFor="let origin of originLookup"  [value]="origin.value">
            {{origin.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width">
        <input matInput placeholder="Ship" formControlName='ship'>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width">
        <input matInput placeholder="Organisation" formControlName='organisation'>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-slide-toggle>Special Attention Required</mat-slide-toggle>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width">
        <input matInput placeholder="Special Attention Description" formControlName='specialAttentionDescription'>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-slide-toggle>NPC</mat-slide-toggle>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="full-width">
        <input matInput placeholder="General Notes" formControlName='notes'>
      </mat-form-field>
    </mat-grid-tile>


  </mat-grid-list>
</form>

<button mat-raised-button (click)="save()">Save</button>
<button mat-raised-button (click)="log()">Log</button>
<button mat-raised-button [routerLink]="['']">Dashbard</button>


<!-- <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" formControlName='organisation'>
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

<!-- <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" formControlName='ship'>
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->