<div *ngIf="screenSize !== 'mobile'">
    <app-top-bar></app-top-bar>
    <div class="router-container" [ngClass]="{'router-container-topbar': _topbar.visible}">
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="screenSize === 'mobile'">
    <mat-tab-group class="main-tab-group mt-2" [selectedIndex]="selectedTab" (selectedTabChange)="tabChanged($event)">
        <mat-tab *ngFor="let tab of tabs; let tabIndex = index">
            <ng-template mat-tab-label>{{ tab.title }}
                <!-- <i class="material-icons" (click)="removeTab(tabIndex)">close</i> -->
            </ng-template>
            <div>
                <app-tab-content [tab]="tab"></app-tab-content>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>