<mat-grid-list cols="1" [rowHeight]="determineScreen()">
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-prime-button" [routerLink]="['./patient-list']">Patient
            Dossiers</button>
        <button mat-raised-button class="dashboard-second-button" [routerLink]="['./patient-list/new-patient']">New
            Patient</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-button" [routerLink]="['./medical-scanner']">Medical Scanner</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-button" [routerLink]="['./medical-database']">Medical Database</button>
    </mat-grid-tile>
</mat-grid-list>