<mat-grid-list cols="1" rowHeight="10:1">
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-button">Scanner</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-button" [routerLink]="['./patient-list']">Patient Dossiers</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-button">Supplies</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-button">Database</button>
    </mat-grid-tile>
</mat-grid-list>