<div>
  <mat-grid-list [cols]="determineScreen()" gutterSize="5px" rowHeight="100%">
    <mat-grid-tile>
      <mat-card class="dashboard-container full-width">
        <mat-card-title>Database Entries
          <button mat-raised-button (click)="createNewEntry()" class="float-right">Add Entry
          </button>
        </mat-card-title>

        <app-table-overview [dataSource]="databaseEntries" [columns]="columns" (rowSelect)="rowSelect($event)">
        </app-table-overview>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
        <!-- [ngStyle]="{'transform': 'translateX(-' + slidePercentage + '%)'}" -->
      <mat-card class="dashboard-container full-width">
        <app-database-view [selectedEntry]="selectedEntry"></app-database-view>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>