<mat-grid-list [cols]="determineScreen()" gutterSize="5px" *ngIf="determineScreen() === '2'">
  <mat-grid-tile>
    <mat-card class="dashboard-container full-width">
      <mat-card-title>Database Entries
        <button mat-raised-button (click)="createNewEntry()" class="float-right">Add Entry
        </button>
      </mat-card-title>

      <app-table-overview [dataSource]="databaseEntries" [columns]="columns" (rowSelect)="rowSelect($event)">
      </app-table-overview>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile *ngIf="determineScreen() === '2'">
    <mat-card class="dashboard-container full-width">
      <app-database-view [selectedEntry]="selectedEntry"></app-database-view>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>


<mat-accordion *ngIf="determineScreen() === '1'">

  <mat-expansion-panel [expanded]="!displayView" (opened)="displayView = false" mat-elevation-z>
    <app-table-overview [dataSource]="databaseEntries" [columns]="columns" (rowSelect)="rowSelect($event)">
    </app-table-overview>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="displayView" (opened)="displayView = true">
    <app-database-view [selectedEntry]="selectedEntry" (close)="closePanel($event)"></app-database-view>
  </mat-expansion-panel>

</mat-accordion>