<h1>New treatment</h1>

<form [formGroup]="formGroup">
    <mat-grid-list cols="3" rowHeight="70px" gutterSize="10px">

        <mat-grid-tile>
            <mat-form-field class="full-width">
                <input matInput placeholder="Treating Doctor" formControlName='treatingDoctor'>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field class="full-width">
                <input matInput placeholder="Assisting Doctor" formControlName='assistingDoctor'>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field class="full-width">
                <input matInput placeholder="Contact" formControlName='contact'>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <!-- <mat-form-field class="full-width">
                <input matInput placeholder="Date" >
            </mat-form-field> -->
            <input matInput formControlName='date' [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-grid-tile>

    </mat-grid-list>
</form>
<button mat-raised-button (click)="save()">Save</button>


<button mat-raised-button (click)="log(this.formGroup)">
    Log
</button>