@import "./assets/stylesheet/theme-vars";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

html,
body {
  height: 100%;
  background-color: map-get($mat-sevcol-theme-background, background);
  background-image: $background-cross;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media print {
  app-root app-dashboard {
    display: none;
  }

  .cdk-global-overlay-wrapper {
    width: 21cm;
    height: 29.7cm;
  }
  .cdk-overlay-pane {
    max-width: 100% !important;
  }
  .mat-dialog-container {
    box-shadow: none !important;
  }
}


mat-card.mat-card {
  border-radius: $global-border-radius;
  border-top-width: $card-border-width;
  border-top-style: solid;
  border-color: $global-border-color;
}

button.mat-button-base {
  border-radius: $global-border-radius;
}

button.mat-raised-button {
  background-image: $background-corner-top-left, $background-corner-bottom-right;
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
}


@import "./assets/stylesheet/stylesheet";
