<!-- <mat-card class="dashboard-container full-width"> -->
<mat-card-title>
  Active Crew list
</mat-card-title>

<mat-card-content>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <table mat-table #activeTable [dataSource]="activeCharcterList" class="full-width">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let person; index as i;"> {{ i + 1 }} </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let person"> {{person.image}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let person"> {{person.familyName}}, {{person.name}} </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef>on Duty</th>
          <td mat-cell *matCellDef="let person">
            <mat-slide-toggle [checked]="person.active"></mat-slide-toggle>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; index as i; columns: displayedColumns;" (click)="selectActiveRow(row, i)"></tr>
      </table>
    </mat-grid-tile>

    <mat-grid-tile>

      <table mat-table #inactiveTable [dataSource]="inactiveCharcterList" class="full-width">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let person; index as i;"> {{ i + 1 }} </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let person"> {{person.image}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let person"> {{person.familyName}}, {{person.name}} </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef>on Duty</th>
          <td mat-cell *matCellDef="let person">
            <mat-slide-toggle [checked]="person.active"></mat-slide-toggle>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; index as i; columns: displayedColumns;" (click)="selectInactiveRow(row, i)">
        </tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card-content>

<mat-card-actions>
  <button mat-raised-button (click)="updateActiveDuty()">Update Active Roster</button>
  <button mat-raised-button (click)="clearActiveDuty()">Clear Active Roster</button>
  <button mat-raised-button (click)="closeDialog()" class="float-right">Cancel</button>
  <!-- <button mat-raised-button (click)="verifyList()"  (click)="openSnackBar('Set who is present at the event','not implemented')">Verify Lists</button> -->
</mat-card-actions>