<mat-grid-list cols="1" [rowHeight]="determineScreen()">
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-prime-button" [routerLink]="['./patient-list']">Patient
            Dossiers</button>
        <button mat-raised-button class="dashboard-second-button" [routerLink]="['./patient-list/new-patient']">New
            Patient</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-button" [routerLink]="['./medical-scanner']">Medical Scanner</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-button" [routerLink]="['./medical-database']">Medical
            Database</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button class="dashboard-button" disabled="true">Active Crew Roster</button>
    </mat-grid-tile>
</mat-grid-list>



<!-- <mat-tab-group class="main-tab-group mt-2" [selectedIndex]="selectedTab" (selectedTabChange)="tabChanged($event)">
    <mat-tab *ngFor="let tab of tabs; let tabIndex = index">
        <ng-template mat-tab-label>{{ tab.title }} -->


<mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        Contents for {{tab}} tab
    </mat-tab>
</mat-tab-group>