<mat-grid-list cols="2" rowHeight="100%" gutterSize="5px" *ngIf="screenSize==='desktop'">
  <mat-grid-tile>
    <mat-card class="dashboard-container full-width-margin">
      <mat-card-title>Database Entries
        <button mat-raised-button (click)="createNewEntry()" class="float-right">Add Entry
        </button>
      </mat-card-title>

      <app-table-overview [dataSource]="databaseEntries" [columns]="columns" (rowSelect)="rowSelect($event)">
      </app-table-overview>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="dashboard-container full-width-margin">
      <app-database-view [selectedEntry]="selectedEntry"></app-database-view>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>



<div class="mobile_container" *ngIf="screenSize==='mobile'">
  <mat-tab-group [selectedIndex]="selectedIndex" class="tab-noheader">
    <mat-tab>
      <div class="mobile_tab" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
        <app-dashboard (selectedTab)="setSelectedIndex($event)"></app-dashboard>
      </div>
    </mat-tab>
    <mat-tab>
      <div class="mobile_tab" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
        <div class="mobile-content">
          <app-table-overview [dataSource]="databaseEntries" [columns]="columns" (rowSelect)="rowSelect($event)">
          </app-table-overview>
        </div>
        <div class="mobile-footer">
          <button mat-raised-button (click)="createNewEntry()">New Database Entry</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <div class="mobile_tab" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
        <app-database-view [selectedEntry]="selectedEntry" (close)="swipe()">
        </app-database-view>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>