@media (max-width: 600px) {
  .title {
    font-size: 12px;
  }
}
.qrButton {
  margin-left: auto;
  margin-right: 20px;
}
.time-display {
  font-size: 12px;

  .display {
    margin-top: 10px;
    display: block;
    line-height: 1px;
  }
}
