<mat-toolbar>
    <div>

        <button mat-raised-button [routerLink]="['']">
            <mat-icon>chevron_left</mat-icon>Dashbard
        </button>
    </div>
    <!-- <button mat-raised-button class='margin-left' (click)="clearPatient()" *ngIf="(patient$ | async)">
        <mat-icon>chevron_left</mat-icon>patientList
    </button> -->
    <!-- [(ngModel)]="name" -->

    <div class='margin-left'>
        <!-- <form [formGroup]="formGroup">

            <input matInput placeholder="email" style="width:40%" formControlName='email'>
            <input matInput placeholder="password" style="width:40%" formControlName='password'>
            <button mat-raised-button class='margin-left' (click)="logIn()">
                <mat-icon>chevron_left</mat-icon>log in
            </button>
        </form> -->
    </div>

    <div class='margin-left'>
        <button mat-raised-button class='margin-left' (click)="log()">
            <mat-icon>chevron_left</mat-icon>log
        </button>
        <span>
            {{ time | date: 'hh:mm a' }}
            {{ time | date: 'EEEE, MMMM d, y' }}
        </span>
    </div>
</mat-toolbar>